h1 {
    background-color:indigo ;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}
p {
    background-color: burlywood;
    border: 2px dotted orangered;
}
.p1 {
    width: 300px;
    padding: 2em;
}
.align-center {
    margin: 0 auto;
}